@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Chivo:400,400i,700,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav {
  margin: auto;
  font-size: 14px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: "";
  content: none;
}

q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.background--green, .background--green-second, .background--green-third {
  background-color: #81C14B;
}

.background--green-second {
  opacity: 0.7;
}

.background--green-third {
  opacity: 0.4;
}

.background--purple, .background--purple-second, .background--purple-third {
  background-color: #8E518D;
}

.background--purple-second {
  opacity: 0.7;
}

.background--purple-third {
  opacity: 0.4;
}

.background--blue, .background--blue-second, .background--blue-third {
  background-color: #204E4B;
}

.background--blue-second {
  opacity: 0.7;
}

.background--blue-third {
  opacity: 0.4;
}

.background--blue2, .background--blue2-second, .background--blue2-third {
  background-color: #299998;
}

.background--blue2-second {
  opacity: 0.7;
}

.background--blue2-third {
  opacity: 0.4;
}

.background--blue3, .background--blue3-second, .background--blue3-third {
  background-color: #86CBCE;
}

.background--blue3-second {
  opacity: 0.7;
}

.background--blue3-third {
  opacity: 0.4;
}

.background--success-green, .background--success-green-second, .background--success-green-third {
  background-color: #5D9F43;
}

.background--success-green-second {
  opacity: 0.7;
}

.background--success-green-third {
  opacity: 0.4;
}

.background--error-red, .background--error-red-second, .background--error-red-third {
  background-color: #D15D35;
}

.background--error-red-second {
  opacity: 0.7;
}

.background--error-red-third {
  opacity: 0.4;
}

.background--dark-grey, .background--dark-grey-second, .background--dark-grey-third, .background--grey, .background--grey-second, .background--grey-third, .background--light-grey, .background--light-grey-second, .background--light-grey-third {
  background-color: #4C4C4C;
}

.background--dark-grey-second {
  opacity: 0.7;
}

.background--dark-grey-third {
  opacity: 0.4;
}

.background--grey, .background--grey-second, .background--grey-third {
  background-color: #D8D8D8;
}

.background--grey-second {
  opacity: 0.7;
}

.background--grey-third {
  opacity: 0.4;
}

.background--light-grey, .background--light-grey-second, .background--light-grey-third {
  background-color: #F7F7F7;
}

.background--light-grey-second {
  opacity: 0.7;
}

.background--light-grey-third {
  opacity: 0.4;
}

.background--chip-grey, .background--chip-grey-second, .background--chip-grey-third {
  background-color: #EDEDED;
}

.background--chip-grey-second {
  opacity: 0.7;
}

.background--chip-grey-third {
  opacity: 0.4;
}

.background--black, .background--black-second, .background--black-third {
  background-color: #000000;
}

.background--black-second {
  opacity: 0.7;
}

.background--black-third {
  opacity: 0.4;
}

.background--white, .background--white-second, .background--white-third {
  background-color: #FFFFFF;
}

.background--white-second {
  opacity: 0.7;
}

.background--white-third {
  opacity: 0.4;
}

.text--black {
  color: black;
}

.text--white {
  color: white;
}

.text--green {
  color: green;
}

.text--purple {
  color: purple;
}

.text--blue {
  color: blue;
}

body {
  background-color: #FFFFFF;
}

.header {
  min-height: 20px;
  min-width: 350px;
  width: 70%;
  padding: 10px 10px;
  margin: 25px auto;
}

.navigation {
  display: flex;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8E518D;
}
.navigation__logo {
  margin: auto;
}
.navigation__logo img {
  height: 30px;
  margin-right: 10px;
}
.navigation__index {
  margin: auto;
}
.navigation__elements {
  margin: auto;
}
.navigation__components {
  margin: auto;
}

.main {
  padding: 15px;
  margin: auto;
  max-width: 1300px;
  flex: 1 0 auto;
  min-height: 100vh;
}
@media only screen and (min-width: 675px) {
  .main {
    width: 80%;
  }
}
.main__section {
  margin: 40px 0;
}
.main__section--index img {
  height: 100px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.item-container {
  margin: 15px 0;
}

/********* PRIMARY / SECONDARY COLORS *********/
.primary-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media only screen and (min-width: 675px) {
  .primary-colors {
    flex-direction: row;
  }
}

.primary-color {
  margin-bottom: 15px;
  margin-right: 20px;
  color: #FFFFFF;
  width: 100%;
  flex-grow: 1;
  margin: 0 20px 15px 0;
}
.primary-color__chip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 999px) {
  .primary-color {
    width: 25%;
  }
}

.background--green, .background--green-second, .background--green-third {
  height: 200px;
  flex: 3;
}
.background--green-second {
  flex: 1;
}
.background--green-third {
  flex: 1;
}

.background--purple, .background--purple-second, .background--purple-third {
  height: 200px;
  flex: 3;
}
.background--purple-second {
  flex: 1;
}
.background--purple-third {
  flex: 1;
}

.background--blue, .background--blue-second, .background--blue-third {
  height: 200px;
  flex: 3;
}
.background--blue-second {
  flex: 1;
  background-color: #299998;
  opacity: 1;
}
.background--blue-third {
  flex: 1;
  background-color: #86CBCE;
  opacity: 1;
}

/********* NOTIFICATION COLORS *********/
.notification-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media only screen and (min-width: 675px) {
  .notification-colors {
    flex-direction: row;
  }
}

.notification-color {
  flex-grow: 1;
  width: 100%;
  margin: 0 20px 15px 0;
}

.background--success-green, .background--success-green-second, .background--success-green-third {
  height: 200px;
}

.background--error-red, .background--error-red-second, .background--error-red-third {
  height: 200px;
}

/********* ACCENT COLORS *********/
.accent-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media only screen and (min-width: 675px) {
  .accent-colors {
    flex-direction: row;
  }
}

.accent-color {
  flex-grow: 1;
  width: 100%;
  margin: 0 20px 15px 0;
}

.background--dark-grey, .background--dark-grey-second, .background--dark-grey-third, .background--grey, .background--grey-second, .background--grey-third, .background--light-grey, .background--light-grey-second, .background--light-grey-third {
  height: 200px;
}

.color-info {
  padding: 15px;
  color: #4C4C4C;
  background: #EDEDED;
  min-height: 20px;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
}

/********* FOOTER *********/
.footer {
  background-color: #204E4B;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  height: 50px;
}

body {
  font-family: "Arvo", serif;
  font-size: 14px;
}

h1 {
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #204E4B;
  margin-bottom: 10px;
}

h2 {
  font-family: "Chivo", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #81C14B;
  margin-bottom: 10px;
}

h4 {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

h5 {
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

h6 {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #4C4C4C;
}

a {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #8E518D;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #81C14B;
}

.color-tag {
  padding-left: 1.2rem;
  margin: 50%;
  width: 0px;
  white-space: nowrap;
  position: relative;
  text-align: left;
  transform-origin: bottom;
  margin-top: 170px;
  transform: rotate(-90deg);
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.alert--error {
  background-color: #D15D35;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.alert--error-message {
  flex: 3;
  padding-top: .05em;
}
.alert--error-icon {
  margin-left: auto;
}
.alert--success {
  background-color: #5D9F43;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.alert--success-message {
  flex: 3;
  padding-top: .05em;
}
.alert--success-icon {
  margin-left: auto;
}
.alert--notification {
  background-color: #4C4C4C;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.alert--notification-message {
  flex: 3;
  padding-top: .05em;
}
.alert--notification-icon {
  margin-left: auto;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -0.05em;
  color: #FFFFFF;
}

.button--primary {
  background-color: #299998;
  color: #FFFFFF;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.button--primary:hover {
  -webkit-box-shadow: 0px 5px 0px 0px #204e4b;
  -moz-box-shadow: 0px 5px 0px 0px #204e4b;
  box-shadow: 0px 5px 0px 0px #204e4b;
}
.button--secondary {
  background-color: #FFFFFF;
  color: #299998;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px 2px #299998 inset;
  -moz-box-shadow: 0px 0px 0px 2px #299998 inset;
  -webkit-box-shadow: 0px 0px 0px 2px #299998 inset;
}
.button--secondary:hover {
  background-color: #299998;
  color: #FFFFFF;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.button--disabled {
  background-color: #D8D8D8;
  color: #FFFFFF;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  width: 225px;
  padding: 10px;
  border-radius: 3px;
}
.chip__avatar {
  width: 50px;
  height: 50px;
  background-color: #D8D8D8;
  color: #FFFFFF;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.chip__text-container {
  display: inline-flex;
  flex-direction: column;
}
.chip__text-title {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 1px;
}
.chip__text-description {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #81C14B;
}

.input, .input-error, select {
  border: 2px solid #D8D8D8;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
}
.input-error {
  border: 2px solid #D15D35;
}

select {
  background-color: #FFFFFF;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown:after {
  content: '';
  width: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: 5px;
  border-width: 6px 4px;
  border-style: solid;
  pointer-events: none;
  border-color: #4C4C4C transparent transparent transparent;
}

/*# sourceMappingURL=main.css.map */
