// Typography Variables Settings Stylesheet
// ===============================================

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Chivo:400,400i,700,900);

// Font Variables
$primary-font: 'Arvo', serif;
$secondary-font: 'Chivo', sans-serif;

// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'white':     ( white ),
  'green':     ( green ),
  'purple':    ( purple ),
  'blue':      ( blue )
);
