// Button Settings Stylesheet
// ========================================

@mixin button($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  width: 250px;
  border-radius: 3px;
  padding: $spacer-m;
  margin-top: 15px;
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: capitalize;
}
